
/* =Reset default browser CSS. Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html
-------------------------------------------------------------- */
* {margin: 0; padding:0;}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  background: transparent;
  border: 0;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
body {
  line-height: 1;
}
h1, h2, h3, h4, h5, h6 {
  clear: both;
  font-weight: normal;
}
ol, ul {
  list-style: none;
}
blockquote {
  quotes: none;
}
blockquote:before, blockquote:after {
  content: '';
  content: none;
}
del {
  text-decoration: line-through;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a img {
  border: none;
}

/* =Clearfix
-------------------------------------------------------------- */

/* float clearing for IE6 */
* html .clearfix{
  height: 1%;
  overflow: visible;
}

/* float clearing for IE7 */
*+html .clearfix{
  min-height: 1%;
}

/* float clearing for everyone else */
.clearfix:after{
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  font-size: 0;
}

/* =Fonts
-------------------------------------------------------------- */

/* @font-face {
  font-family: "AvenirBlack";
  src: url("../fonts/avenir_black.eot");
  src: local('z'),
       url("../fonts/avenir_black.ttf") format("truetype"),
       url('theanodidot-regular-webfont.woff') format('woff'),
       url('theanodidot-regular-webfont.svg#webfontE40g3tc3') format('svg');
  font-weight: normal;
} */

@font-face {
  font-family: "MyriadPro-Regular";
  src: url("../fonts/MyriadPro-Regular.eot");
  src: local('z'),
       url("../fonts/MyriadPro-Regular.ttf") format("truetype"),
       url('../fonts/MyriadPro-Regular.woff') format('woff'),
       url('../fonts/MyriadPro-Regular.svg#MyriadPro-Regular') format('svg');
  font-weight: normal;
}

@font-face {
  font-family: "MyriadPro-Bold";
  src: url("../fonts/MyriadPro-Bold.eot");
  src: local('z'),
       url("../fonts/MyriadPro-Bold.ttf") format("truetype"),
       url('../fonts/MyriadPro-Bold.woff') format('woff'),
       url('../fonts/MyriadPro-Bold.svg#MyriadPro-Bold') format('svg');
  font-weight: normal;
}

html, body { margin:0; padding:0; height:100%;}

p{font-family: Arial; font-size: 14px; margin-bottom: 18px; line-height: 23px; color: #ffffff;} /* line-height: 23px; */
a{font-family: Arial; font-size: 14px; color: #ffffff; text-decoration: none; outline: none;}
a:hover {text-decoration: underline;}
span {font-family: Myriad Pro, Arial; font-size: 13px; color: #ffffff;}
dl {font-family: Myriad Pro, Arial; font-size: 12px;  margin-bottom: 18px; line-height: 18px;}
dl dt {float: left;}
h1 {color: #ffffff;}
h2 {font-size: 20px; color: #ffffff; margin-bottom: 25px;} /* font-weight: bold; */
h3 {font-size: 18px; color: #ffffff; } /* font-weight: bold; */
h4 {color: #fff; font-size: 14px; font-weight: bold;}
h5 {color: #ffffff;}

sup {display: inline-block; margin-top: -3px;}




/* Styling
-------------------------------------------------------------- */

body { font-family: Myriad Pro, Arial; height: 100%; width: 100%; margin: 0; min-width: 1000px; background: #6190bc;}
.container {width: 980px; padding: 0 10px; margin: 0 auto; position: relative;}
a.more {font-family: Myriad Pro, Arial; font-size: 12px; color: #fff; text-transform: uppercase; font-weight: bold; text-decoration: none;}
a.more:hover {text-decoration: underline;}
#page-title {font-family: Myriad Pro, Arial; font-size: 26px; font-weight: bold; text-transform: uppercase; color: #fff; margin-bottom: 32px;}
h2.intro {font-family: Myriad Pro, "MyriadPro-Regular"; font-size: 20px; color: #fff; font-weight: bold; margin-bottom: 25px;}
#wrapper {position: relative; min-height: 100%; }
.blue {color: #fff;}
.block-title {font-size: 18px; font-weight: bold; margin-top: 2px; margin-bottom: 29px; } /* margin-bottom: 25px; */

/* Navigation
-------------------------------------------------------------- */

#navigation {background: #1f2155;}
#navigation ul {width: 100%; text-align: center; font-size: 0;}
#navigation ul li {display: inline-block; position: relative;}
#navigation ul li a {display: block; font-family: Myriad Pro, Arial; font-size: 11px; padding: 17px 27px; color: #9dbcd4; text-transform: uppercase;}
#navigation ul li:hover > a {background: #000000; color: #e3ebf2; text-decoration: none;}
#navigation ul li > a.active {background: #000000; color: #e3ebf2;}
#navigation .container > ul > li:first-child > a.active {background: none; color: #9dbcd4;}
#navigation ul li:hover > a.active {background: #000000; color: #e3ebf2; text-decoration: none;}
#navigation ul li ul {display: none; position: absolute; top: 45px;left: 0; z-index: 500;}
#navigation ul li ul li {}
#navigation ul li ul li a{background: #000000; color: #6190bc; text-decoration: none; width: 120px; text-align: left; padding: 9px 29px; line-height: 18px;}
#navigation ul li ul li a:hover{background: #000000; color: #e3ebf2; text-decoration: none;}

/* Header
-------------------------------------------------------------- */

#header { position: relative; height: 220px; background: url(../images/divider-big.png) no-repeat center bottom;}
#header .container{height: 220px; }
#logo {position: absolute; width: 100%; height: 189px; display: block; left: 0; top: 0; background: radial-gradient(ellipse 400px 300px, #fff, #6190bc); padding-top: 30px;}
/*#logo a {display: block; float: left; width: 256px;height: 140px; text-indent: -9999px; background: url(../images/logo-new.png) no-repeat;-webkit-background-size: contain;
background-size: contain; }*/
.first-logo {display: inline-block; width: 50%; height: 80px;background: url(../images/logo-mial.png) no-repeat;-webkit-background-size: contain; background-size: contain; margin-left: 400px;}
.second-logo {display: inline-block; width: 50%; height: 80px;background: url(../images/logo-new.png) no-repeat;-webkit-background-size: contain; background-size: contain; margin-left: 400px;} 
#slogan {    display: block; position: absolute; font-family: Myriad Pro,Arial; font-size: 24px; top: 83px; left: 67px; color: #f4f4f4; text-align: right; font-weight: normal; line-height: 25px;}  
#contact {position: absolute; top: 50%; right: 0; transform: translateY(-50%);}
#contact .phone { background: url(../images/divider.png) no-repeat center bottom; padding-bottom: 12px; margin-bottom: 11px;}
#contact .phone-title {font-family: Myriad Pro, Arial; font-size: 12px; color: #fff; text-align: right; margin-bottom: 5px;}
#contact .phone-number {font-family: Myriad Pro, Arial; font-size: 32px; color: #f4f4f4;}
#contact .phone-number span, #contact .phone-number .tel, #contact .phone-number .tel a {font-family: Myriad Pro, Arial; font-size: 32px; color: #f4f4f4; padding-left: 12px;}
#contact .email {font-family: Myriad Pro, Arial; font-size: 12px; color: #ffffff; text-align: right;}
#contact .email a {font-family: Myriad Pro, Arial; font-size: 12px; color: #ffffff;}




/* Content
-------------------------------------------------------------- */
#content {padding-top: 65px; padding-bottom: 160px; } /* padding-bottom: 70px; padding-bottom: 100px; padding-bottom: 180px; */
#content p, #content h2 {color: #fff∂;}
#content .container {width: 864px; padding-left: 58px; padding-right: 58px;}
.content a {color: #fff; text-decoration: underline;} /* color: #ffffff; */
.yellow {color: #d6d02e;}
/*.front #top {background: #123678 url(../images/home-top-bg.png) no-repeat center top; -webkit-background-size: 2560px 865px; height: 815px;}*/
.front #content {background: url(../images/divider-big.png) no-repeat center bottom; height: 504px; padding-top: 95px; padding-bottom: 0px; min-height: 504px;}
.front .left-side {float: left; width: 390px;}
.front .right-side {float: right; width: 440px; margin-right: -32px;}
.front .right-side .block-title {color: #fff;}
.front .facades-homepage {float: left; margin-right: 30px; margin-bottom: 50px;}
.front .facades-homepage dt {float: left; margin-right: 20px;}
.front .facades-homepage a {color: #fff;}
.front .facades-homepage dt a:hover {opacity: 0.8;}
.front .facades-homepage dd {display: table; float: left; width: 90px; height: 85px;}
.front .facades-homepage dd a {display: table-cell; vertical-align: middle; font-family: Myriad Pro, Arial; font-size: 11px; text-transform: uppercase; font-weight: bold;}
.ventilated-facade dt a{display: block; width: 60px; height: 85px; background: url(../images/facades-thumbs/ventilated-facade.png) no-repeat;}
.eifs dt a{display: block; width: 62px; height: 86px; background: url(../images/facades-thumbs/eifs.png) no-repeat;}
.glass-facade dt a{display: block; width: 82px; height: 84px; background: url(../images/facades-thumbs/glass-facade.png) no-repeat;}
#homepage-bottom {background-color: #6190bc; padding-top: 60px; padding-bottom: 120px;} /* padding-bottom: 40px; padding-bottom: 50px; padding-bottom: 60px; padding-bottom: 20px; padding-top: 75px; */
#homepage-bottom h3 {text-align: center; margin-bottom: 34px;}
#homepage-gallery {}
#homepage-bottom .item {float: left; width: 210px; padding: 0 58px;}
#homepage-bottom img {border: 2px solid #ffffff;}
#homepage-bottom .item h4 {font-family: Arial; font-size: 14px; font-weight: bold; text-transform: uppercase; text-align: center; padding: 21px 0 15px 0; background: url(../images/divider.png) no-repeat center bottom; margin-bottom: 12px; line-height: 20px;} /* line-height: 19px; */
#homepage-bottom .item p {font-family: Arial; font-size: 11px; color: #fff; text-align: center; line-height: 16px;}
#homepage-bottom p {text-align: center;}
/* #content a.more {text-decoration: underline;}
#content a.more:hover {text-decoration: none;} */

#content ul {margin-bottom: 18px; }
#content li {font-family: Arial; font-size: 14px;  line-height: 23px; color: #fff; }

#block-system-main .content li {position: relative; padding-left: 22px; padding-bottom: 1px; }
#block-system-main .content li::before {content: ""; position: absolute; top: 10px; left: 0; width: 10px; height: 1px; background-color: #fff;} 

.region-sidebar-first {float: left; margin-right: 40px;}
.region-content {overflow: hidden;}

.block-menu-block {width: 188px; }
.block-menu-block ul {list-style: none;}
.block-menu-block ul li{font-family: Myriad Pro, Arial; font-size: 18px; list-style: none; padding: 0 0 18px 0; text-transform: uppercase; margin: 0;}
.block-menu-block ul a{font-size: 12px; text-decoration: none; color: #fff;}
.block-menu-block ul a:hover{text-decoration: underline; color: #fff;}
.block-menu-block ul a.active{text-decoration: underline; color: #fff;}

.block-views {width:  188px;}
.block-views p {font-size: 11px; line-height: 21px; text-indent: 24px; }
.views-slideshow-cycle-main-frame {background: url(../images/interesting.png) no-repeat left 1px;} /* background: url(../images/interesting.png) no-repeat left top; */

.view-services {position: relative;}
.facades {position: relative; height: 329px; margin-top: 55px; margin-bottom: 55px;}
.facades a {display: block; float: left; margin-right: 68px; text-decoration: none; cursor: pointer; position: absolute;}
.facades img {padding-bottom: 30px;}
.facades h4 {font-family: Myriad Pro, Arial; font-size: 14px; font-weight: normal; line-height: 18px; text-transform: uppercase; color: #ffffff; text-decoration: none; text-align: center; padding-left: 67px;} 
.facades .facades-description {display: none; text-align: left; margin-top: 35px; padding-left: 40px; width: 188px;} /* margin-top: 30px; width: 200px; padding: 0 30px;  width: 200px; */
.facades .glass-facade .facades-description {padding-left: 67px; }
.facades .facades-description h3 {font-family: Myriad Pro, Arial; font-size: 12px; color: #fff; text-transform: uppercase; font-weight: normal; margin-bottom: 8px;} /* margin-bottom: 4px; color: #fff; */
#content .facades-description li {font-family: Myriad Pro, Arial; font-size: 12px; line-height: 18px; margin-bottom: 4px; padding-left: 0; background: none;}
.facade-layer {display: none; position: absolute; top: 0px; left: 295px; width: 553px;} /* width: 560px; left: 288px; left: 283px; width: 565px; top: 68px;  top: 98px; */
.facade-layer h2 {color: #fff; font-weight: normal; margin-bottom: 16px; padding-top: 10px;} /* margin-bottom: 10px; */
.facade-layer p {}
.facade-layer .facade-layer-title {font-size: 26px; color: #ffffff; margin-bottom: 20px;} /* font-size: 25px; font-size: 20px; */
.view-services .view-footer p {font-size: 12px; text-align: center; color: #fff;}
a.ventilated-facade {width:195px; top: 0; left: 0; }
a.eifs {width:196px; top: 0; left: 263px; }
a.glass-facade {width:251px; top: 0; left: 527px; }

.numbers {}
.numbers .ventilated-facade {display: none; position: absolute; width: 190px; height: 250px; background: url(../images/numbers/ventilated-facade.png) no-repeat; left: 39px; top: 6px;}
.numbers .eifs {display: none; position: absolute; width: 185px; height: 176px; background: url(../images/numbers/eifs.png) no-repeat; left: 37px; top: 16px;}
.numbers .glass-facade {display: none; position: absolute; width: 265px; height: 213px; background: url(../images/numbers/glass-facade.png) no-repeat; top: -7px; left: 15px;} /* left: 14px; */
.content .back-to-services {color: #fff; text-decoration: none; cursor: pointer;}



.page-node-17 .region-content {overflow: visible;} 
.contact-page {position: relative; height: 750px;}
.contact-page p {font-size: 16px; line-height: 26px; margin-bottom: 20px;}
.contact-page a {font-size: 16px; line-height: 26px; margin-bottom: 20px;}
.map {position: absolute; top: 0px; left: 200px; width: 732px; height: 750px; background: url(../images/map.png) no-repeat center bottom;}
.map p {font-size: 13px; color: #fff; margin-left: 135px; } 
.map a {font-size: 13px;}
.contact-page a.yandex-maps {display: block; font-size: 12px; height: 22px; padding-left: 25px; background: url(../images/yandex-icon.png) no-repeat left center;}

#webform-client-form-17 {display: none;}
.overlay-bg {position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: #000000; opacity: 0.6; z-index: 1000;}
.contact-form {position: fixed; top: 50%; left: 50%; width: 238px; z-index: 1002; margin-left: -119px; margin-top: -220px; background: #0c2552; padding: 24px;}
.form-item {margin-bottom: 8px;}
label {display: block; font-family: Myriad Pro, Arial; font-size: 12px; color: #fff; text-transform: uppercase; padding-left: 3px; margin-bottom: 2px;}
input[type="text"], input[type="email"], input[type="password"] {width: 238px; height: 29px; background: url(../images/contact-form-input.png) no-repeat; border: none; color: #ffffff; outline: 0; padding: 0 10px;}
textarea {width: 238px; height: 86px; background: url(../images/contact-form-textarea.png) no-repeat; border: none; color: #ffffff; outline: 0; padding: 10px 10px; resize: none;}
input[type="submit"] {width: 95px; height: 31px; background: url(../images/contact-form-submit.png) no-repeat; border: none; text-indent: -9999px; cursor: pointer;}
.captcha img {padding-left: 3px; margin-bottom: 5px;}
.reload-captcha-wrapper {margin-bottom: 10px;}
.reload-captcha-wrapper a {text-decoration: none; font-size: 11px; margin-left: 3px;}
.form-item .description {font-size: 12px; color: #fff; padding-left: 3px; margin-top: 2px;}
.form-actions {text-align: center;}
.form-required {color: #ff0000;}
.form-close {position: absolute; top: 10px; right: 10px;display: block; width: 13px; height: 13px; background: url(../images/close-btn.png) no-repeat;}
#success {display: none; color: #d6d02e; font-size: 12px; text-align: center;}
#success h2{color: #d6d02e; font-size: 12px; text-align: center;}
label.error {font-family: Myriad Pro, Arial; font-size: 10px; line-height: 12px; color: #ff0000; margin-top: 4px; margin-bottom: 5px;} 

.view-license {margin-top: 20px;}
.view-license .view-header {margin-bottom: 40px;}
.documents {float: left; width: 143px; text-align: center; margin-right: 60px;}
.documents .views-field-field-image {margin-bottom: 10px;}
.documents .views-field-title {width: 143px; margin-bottom: 10px;}
.documents .views-field-title span {color: #fff; font-family: Arial; font-size: 11px; line-height: 18px;} 
.documents .views-field-field-file {}
.documents .views-field-field-file img {margin-right: 3px;}
.documents .views-field-field-file span a {display: inline-block; vertical-align: top; margin-top: 4px; font-family: Myriad Pro, Arial; font-size: 10px;}

.news {margin-bottom: 30px;}
.news .views-field-title {}
.news .views-field-title h3{font-size: 18px; line-height: 23px; color: #fff; font-weight: bold; cursor: pointer;}
.news .views-field-field-date {margin-bottom: 15px;}
.news .views-field-field-date span{color: #fff; font-size: 12px;}
.news .views-field-body {display: none;}
.news .views-field-body p{}

.testimonial {margin-bottom: 40px; padding-bottom: 40px; background: url(../images/divider-big.png) no-repeat center bottom;} /* background: #122e69; padding: 14px 24px 24px 24px; */
.testimonial-left {float: left; margin-right: 20px; }
.testimonial .field-field-image {float: left; margin-top: 10px; margin-bottom: 5px;} /* margin-right: 20px; margin-right: 9px; */
.testimonial .field-field-image img {border: 2px solid white;}
.testimonial .field-colorbox {text-align: center;}
.testimonial .field-colorbox a {font-size: 12px; text-decoration: none; border-bottom: 1px solid #fff;}
.testimonial .field-body {float: left; overflow: hidden; width: 645px; background: url(../images/testimonials-bg.png) no-repeat left top; padding: 10px 0 0 15px;} /* width: 601px; */
.testimonial .field-field-name {float: right; clear: both;}
.testimonial .field-field-name span {color: #fff; line-height: 20px; text-transform: uppercase;}
.testimonial .field-field-job {float: right; clear: both;}
.testimonial .field-field-job span {color: #fff; line-height: 20px; text-transform: uppercase;}
.testimonial.views-row-last {background: none;}


#content .messages li {color: #000000;}
#content .messages p {color: #000000;}
#content .messages a {color: #d6d02e; text-decoration: underline;}

#YMapsID {width:860px; height:476px; border: 2px solid #ffffff;}
#YMapsID span {color: #000000;}
#YMapsID .balloon-content {}
#YMapsID .balloon-content img {float: left; margin-right: 18px; line-height: 24px; }
#YMapsID .balloon-content h3{display: inline; color: #fff;}
#YMapsID .balloon-content p{margin-top: 5px; color: #000000; overflow: hidden;}
#edit-field-facade-tid-wrapper {width: 240px; height: 75px; padding: 16px; background: url(../images/filter-bg.png) repeat; border: 2px solid #ffffff;}
#edit-field-facade-tid-wrapper .form-item {}
#edit-field-facade-tid-wrapper .form-type-select .form-item:first-child {margin-left: 0;}
#edit-field-facade-tid-wrapper .form-type-select .form-item {} 
#edit-field-facade-tid-wrapper .form-item input[type="checkbox"] {display: inline-block;}
#edit-field-facade-tid-wrapper .form-item label {display: inline-block; color: #ffffff; font-weight: normal;}
span.notice {display: block; float: right; height: 15px; padding: 6px 0; color: #fff;} /* color: #d6d02e; */

.view-gallery {position: relative; margin-top: -20px;}
.view-gallery .view-content {width: 952px;}
.view-gallery .view-filters {position: absolute;
top: -143px;
z-index: 200;
width: 220px;
left: 588px;
} /* top: -136px; top: -134px; left: 590px; top: -133px; left: 591px; */
.view-gallery h3 {text-align: center; font-size: 14px; margin-top: 25px; margin-bottom: 15px;}
/* .gallery-object {float: left; padding: 24px 60px 24px 0; width: 400px; height: 120px;} */
.gallery-object {float: left; padding: 24px 40px 24px 0; width: 412px; height: 100px;} /* width: 420px; height: 120px; width: 400px; padding: 24px 60px 24px 0; */
.gallery-object .views-field-field-preview {float: left; margin-right: 18px;}
.gallery-object .views-field-field-preview img {border: 2px solid #ffffff;}
/* .gallery-object .views-field-counter {float: left; margin-right: 12px; background: #2E4984; padding: 8px 11px 6px 11px; margin-top: 1px; margin-left: -226px; border: 1px solid white;}
.gallery-object .views-field-counter h4 {display: inline; display: inline; color: #ffffff; font-size: 18px;} */

.gallery-object .views-field-counter {float: left; margin-right: 12px; width: 20px; } /* background: #2E4984; padding: 8px 11px 6px 11px; margin-top: 1px; margin-left: -226px; border: 1px solid white; */
.gallery-object .views-field-counter h4 {display: inline; display: inline; color: #ffffff; font-size: 21px;} /* color: #fff; color: #ffffff; font-size: 18px; */

.gallery-object .views-field-title {margin-bottom: 8px; }
.gallery-object .views-field-title h4 {display: inline; }
.gallery-object .views-field-title h4 a {font-family: Arial; font-size: 12px; font-weight: bold; text-transform: uppercase; text-align: center; padding: 21px 0 15px 0; margin-bottom: 12px; text-decoration: none; line-height: 16px;}
.gallery-object .views-field-field-description-short {overflow: hidden;}
.gallery-object .views-field-field-description-short p {font-family: Arial; font-size: 11px; color: #fff; line-height: 16px; margin-bottom: 0;}
.gallery-object .views-field-field-current-object {display: none;}
.gallery-object .views-field-field-lat {display: none;}
.gallery-object .views-field-field-lng {display: none;}
.gallery-object .views-field-field-facade {display: none;}

.ajax-progress .throbber {
  display: none;
  position: absolute;
  background: transparent url(../images/loading_animation.gif) no-repeat;  
  height: 32px;
  margin: 2px;
  width: 32px;
} /*  0px -18px float: left; width: 15px; height: 15px; background: transparent url(../../misc/throbber.gif) no-repeat 0px -18px; */

.partners {margin-bottom: 35px;} /* margin-bottom: 30px; margin-bottom: 20px; */
.partners .views-field-field-image {float: left; margin-right: 25px;} /* margin-right: 30px; margin-right: 25px; */
.partners .views-field-title {padding-bottom: 5px;}
.partners .views-field-body {overflow: hidden;}
.partners .views-field-body p {}
.partners .partners-left {float: left; margin-right: 25px;}
.partners .field-provider {display: block; font-size: 12px; width: 179px; color: #fff; text-align: center; margin-top: 3px;}

/*
root element for the scrollable.  when scrolling occurs this
element stays still.
*/
.scrollable {
  /* required settings */
  float: left;
  position:relative;
  overflow:hidden;
  width: 750px; /* width: 739px; width: 660px; */
  height:111px; /* height:99px; */
}
 
/*
root element for scrollable items. Must be absolutely positioned
and it should have a extremely large width to accommodate scrollable
items.  it's enough that you set width and height for the root element
and not for this element.
*/
.scrollable .items {
  /* this cannot be too large */
  width:20000em;
  position:absolute;
}
 
/*
a single item. must be floated in horizontal scrolling.  typically,
this element is the one that *you* will style the most.
*/
.items div {
  float:left;
}

.gallery {padding: 32px 0 28px 0; background: url(../images/divider-big.png) no-repeat center top; margin-top: 40px;} /* padding: 28px 0 0 0; margin-top: 30px; */

.gallery .items a {margin: 0 8px; outline: none;}
.gallery img{border: 2px solid #ffffff;}
.gallery a.browse {display: block; cursor: pointer;}
.left {float: left; background: url(../images/gallery-left.png) no-repeat; width: 18px; height: 20px; margin-top: 32px; margin-right: 42px;} /* margin-top: 45px; */
.right {float: right; background: url(../images/gallery-right.png) no-repeat; width: 17px; height: 20px; margin-top: 32px;} /* margin-top: 45px; */
.gallery-bottom {padding-bottom: 12px; background: url(../images/divider-big.png) no-repeat center bottom; clear: both; } /* padding-bottom: 28px; */
.back-to-gallery {display: block; font-size: 12px; margin-top: -22px; margin-bottom: 26px; color: #fff;}
.object-main-image {margin-bottom: 15px; margin-bottom: 20px; border: 2px solid #ffffff;} /* margin-bottom: 15px; width: 860px; margin-bottom: 10px; */
.object-info {float: right; width: 340px; padding-left: 30px; color: #fff;} /* padding-left: 25px; padding-bottom: 25px; width: 300px; height: 200px; width: 323px; height: 228px; */
.object-info dt {width: 170px; margin-bottom: 4px;} /* width: 145px; */
.object-info dd {overflow: hidden; width: 170px; margin-bottom: 4px;}




/* Footer
-------------------------------------------------------------- */

#footer {position: absolute; bottom: 0; width: 100%; background: #1f2155 url(../images/divider-big.png) no-repeat center top; }
#footer .copyright {font-family: Calibri, Arial; font-size: 12px; line-height: 20px; color: #9dbcd4; text-align: center; padding: 16px 0; margin-bottom: 0;} /* padding: 22px 0;*/
#footer .copyright a {font-family: Calibri, Arial; font-size: 12px; color: #9dbcd4; text-decoration: underline;}

/* User Login
-------------------------------------------------------------- */

#user-login {}
#user-login .description {color: white; font-size: 12px; margin-top: 5px; margin-left: 3px;}
#user-login .form-item { margin-bottom: 14px; }
#user-login #edit-submit {float: left; margin-top: 10px;}



